<!DOCTYPE HTML>


<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{})">
  <title>CHAMP Admin Console - Home</title>  
</head>

<body>
<nav th:replace="fragments/header :: common_nav"/>

<div class="container theme-showcase" role="main">
	<div class="jumbotron">
      	<h2>SGIE</h2>
       <div class="form-group">
       	<button type="button" id="SSHCall" class="btn">Install</button>
  		<label for="comment">Console:</label>
  		<textarea class="form-control" rows="5" id="console"></textarea>
		</div> 
	</div>

    </div>
<!-- /.container -->

	<footer th:replace="fragments/footer :: common_footer" ></footer>

</body>
</html>